version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: obligatorio_bd_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: obligatorio_bd
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./database/migrations:/docker-entrypoint-initdb.d
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backendPython
    container_name: obligatorio_bd_backend
    depends_on:
      - mysql
    networks:
      - app-network
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: rootpassword
      DB_NAME: obligatorio_bd
      DB_PORT: 3306
      PORT: 3000
      CORS_ORIGIN: http://localhost:5173
    ports:
      - "3000:3000"
    volumes:
      - ./backendPython/src:/app/src
    command:
      [
        "/wait-for-it.sh",
        "mysql:3306",
        "--",
        "uvicorn",
        "src.main:app",
        "--host",
        "0.0.0.0",
        "--port",
        "3000",
        --reload
      ]

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: obligatorio_bd_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: ["npm", "run", "dev", "--", "--host"]
    networks:
      - app-network


volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
